@model SocialImageSharing.Web.ViewModels.Posts.PostDetailsViewModel
@{
	ViewBag.Title = "PostDetails";
}

<h2 class="text-center">@Html.DisplayFor(m => m.Title)</h2>

<div class="row">
	<p>
		by
		@Html.ActionLink(Model.CreatorName, "PostsByRating", "Profiles", new
			{
				id = Model.CreatorId
			}, null)
	</p>
</div>

<div class="row">
	<img class="img-responsive img-center" src='@Url.Action("GetPostImage", "Images", new { id = Model.Id })' />
</div>

<div class="row">
	<div class="col-md-2" id="post-like-panel-@Model.Id">
		@Html.Action("LikePost", "Posts", new { id = Model.Id })
	</div>
	@if (Request.IsAuthenticated)
	{
		<div class="col-md-2">
			<div class="well">
				@Ajax.ActionLink("Favorite", "FavoritePost",
				new
				{
					id = Model.Id
				}, new AjaxOptions
				{
					HttpMethod = "post",
					OnSuccess = "favorite"
				}, new
				{
					style = "display:" + (Model.IsInFavorites ? "none;" : ""),
					id = "favorite-button",
					@class = "btn btn-primary"
				})
				@Ajax.ActionLink("Unfavorite", "UnfavoritePost",
				new
				{
					id = Model.Id
				}, new AjaxOptions
				{
					HttpMethod = "post",
					OnSuccess = "unfavorite"
				}, new
				{
					style = "display:" + (!Model.IsInFavorites ? "none;" : ""),
					id = "unfavorite-button",
					@class = "btn btn-danger"
				})
			</div>
		</div>
	}
	<div class="col-md-8 well">@Html.DisplayFor(m => m.Description)</div>
</div>

<h3>Comments</h3>

@Html.Action("PostComments", "Comments", new { postId = Model.Id })

@section scripts{
	@if (Request.IsAuthenticated)
	{
		@Scripts.Render("~/Scripts/UI/favoritePost.js");
	}
}